<div *ngFor="let userInfo of userList">
    <table style="width: 100%">
      <tbody>
          <tr>
              <td style="width: 70%" class="highlightedGray">{{ userInfo.firstName}}</td>
              <td>
                  <a class="btn btn-secondary btn-sm cutombutton" [routerLink]="['/edittask', userInfo.userID]">Edit</a>
              </td>
          </tr>
              
          <tr>
              <td style="width: 70%;" class="highlightedGray" style="border-top: 10px solid white;">{{ userInfo.lastName}}</td>
              <td>
                  <button class="btn btn-secondary btn-sm cutombutton" (click)="deleteRecord(userInfo)">Delete</button>
              </td>
          </tr>
          <tr>
              <td style="width: 70%" class="highlightedGray" style="border-top: 10px solid white;">{{ userInfo.employeeID}}</td>
              <td></td>
          </tr>
      </tbody>
      </table>
      <hr style="border-top: dotted 1px;" />
</div>