<div *ngFor="let taskInfo of taskData">
<table>
  <thead>
      <tr>
          <th>Task</th>
          <th class="whiteThickLeftBorder">Parent</th>
          <th class="whiteThickLeftBorder">Priority</th>
          <th class="whiteThickLeftBorder">Start</th>
          <th class="whiteThickLeftBorder">End</th>
      </tr>
  </thead>
  <tbody>
      <tr>
          <td class="highlightedGray largeandboldfont">{{ taskInfo.name}}</td>
          <td class="highlightedGray whiteThickLeftBorder largeandboldfont">{{ taskInfo.parentTaskName }}</td>
          <td class="largeandboldfont">{{ taskInfo.priority }}</td>
          <td class="largeandboldfont">{{ taskInfo.startDate | date:'shortDate' }}</td>
          <td class="largeandboldfont">{{ taskInfo.endDate | date:'shortDate' }}</td>
          <td>
              <!-- <button (click)="editRecord(taskInfo)">Edit</button> -->
              <a *ngIf="!taskInfo.status;else disabledLink" class="btn btn-secondary btn-sm cutombutton" [routerLink]="['/edittask', taskInfo.tasksID]">Edit</a>
              <ng-template #disabledLink>
                    <a class="btn btn-secondary btn-sm cutombutton disabled">Edit</a>
              </ng-template>             
          </td>
          <td>
              <button [disabled]="taskInfo.status" class="btn btn-secondary btn-sm cutombutton" (click)="endTask(taskInfo)">End Task</button>
          </td>
      </tr>
  </tbody>
  </table>
  <hr style="border-top: dotted 1px;" />
</div>