<div class="halfOfScreen">
    <h2></h2>
    <form [formGroup]="taskformGroup" (ngSubmit)="addOrUpdateTaskRecord($event)">
        <div class="form-group">
            <label for="projectname-input" class="addTaskLables">Project:</label>
            <input *ngIf="!isEditView;else disabledProjectInput" 
            type="text" 
            id="projectname-input" 
            [(ngModel)]="taskInfo.project" 
            class="form-control addTaskTextInput" 
            name="projectname" 
            matInput 
            formControlName = "projectName"
            [matAutocomplete]="projectNameAuto"
            [formControl]="projectNameControl"
            required/>

            <mat-autocomplete #projectNameAuto="matAutocomplete" [displayWith]="projectDisplayFn">
                    <mat-option *ngFor="let option of filteredProjects | async" [value]="option">
                    {{option.projectName}}
                    </mat-option>
            </mat-autocomplete>
            <ng-template #disabledProjectInput>
                    <input [attr.disabled]="true" 
                    type="text" 
                    id="projectname-input" 
                    class="form-control addTaskTextInput"
                    [value]="taskInfo.project.projectName"
                    formControlName = "projectName"
                    name="projectName" />
            </ng-template>
            <div *ngIf="!isEditView">
                <div *ngIf="!(projectName.valid || projectName.pristine) || (formSubmitted && projectName.invalid)"
                class="alert alert-danger">
                <div *ngIf="projectName.errors.required">
                    Project Name is required.
                </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="taskname-input" class="addTaskLables">Task:</label>
            <input type="text" 
            id="taskname-input" 
            [(ngModel)]="taskInfo.name"          
            class="form-control addTaskTextInput" 
            name="name" 
            formControlName="taskName"
            required/>
            <div *ngIf="!(taskName.valid || taskName.pristine) || (formSubmitted && taskName.invalid)"
            class="alert alert-danger">
              <div *ngIf="taskName.errors.required">
                Task Name is required.
              </div>
            </div>
        </div>
        <div class="form-group">
            <label for="myRange" class="addTaskLables">Priority:</label>
            <div>
              <span style="float: left">0</span>
              <span style="float: right">30</span>
            </div>
            <div class="slidecontainer">
                <input type="range" 
                min="0" 
                max="30" 
                value="0"
                matTooltip={{ToolTipText}} 
                matTooltipPosition="after"  
                [(ngModel)]="taskInfo.priority" 
                (input)="onRangeInput($event)" 
                name="priority" 
                class="slider" 
                id="myRange"
                formControlName="priority">
              </div>
        </div>
        <div class="form-group">
            <label for="parenttask-input" class="addTaskLables">Parent Task:</label>
                <input type="text" 
                id="parenttask-input" 
                name="parentName" 
                class="form-control addTaskTextInput"
                matInput 
                [matAutocomplete]="auto" 
                aria-label="Number" 
                [(ngModel)]="taskInfo.parentName"
                formControlName="parentTaskName"
                required/>
            
                <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                        {{option}}
                        </mat-option>
                </mat-autocomplete>

                <div *ngIf="!(parentTaskName.valid || parentTaskName.pristine) || (formSubmitted && parentTaskName.invalid)"
                class="alert alert-danger">
                  <div *ngIf="parentTaskName.errors.required">
                    Parent Task Name is required.
                  </div>
                </div>
        </div>
        <div class="form-group">
            <label for="startdate-input" class="addTaskLables">Start Date:</label>
            <input type="text" 
            matInput 
            [matDatepicker]="myDatepicker" 
            id="startdate-input" 
            [(ngModel)]="taskInfo.startDate" 
            name="startDate" 
            class="form-control addTaskTextInput" 
            formControlName="startDate"/>

            <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker></mat-datepicker>
            <div *ngIf="!(startDate.valid || startDate.pristine) || (formSubmitted && startDate.invalid)"
            class="alert alert-danger">
              <div *ngIf="startDate.errors.required">
                Start date is required.
              </div>
            </div>
        </div>
        <div class="form-group">
            <label for="enddate-input" class="addTaskLables">End Date:</label>
            <input type="text" 
            matInput 
            [matDatepicker]="myDatepicker1" 
            id="enddate-input" 
            [(ngModel)]="taskInfo.endDate" 
            name="endDate" 
            class="form-control addTaskTextInput" 
            formControlName="endDate"/>
            <mat-datepicker-toggle matSuffix [for]="myDatepicker1"></mat-datepicker-toggle>
            <mat-datepicker #myDatepicker1></mat-datepicker>
            <div *ngIf="!(endDate.valid || endDate.pristine) || (formSubmitted && endDate.invalid)"
            class="alert alert-danger">
              <div *ngIf="endDate.errors.required">
                End date is required.
              </div>
            </div>

        </div>
        <div class="form-group">
                <label for="user-input" class="addTaskLables">User:</label>
                    <input *ngIf="!isEditView;else disabledUserInput" 
                    type="text" 
                    id="user-input" 
                    name="user" 
                    class="form-control addTaskTextInput" 
                    matInput 
                    [matAutocomplete]="userAutoComplete" 
                    aria-label="Number" 
                    [(ngModel)]="taskInfo.user"
                    formControlName="userName"
                    [formControl]="userNameControl"
                    required/>
                
                    <mat-autocomplete #userAutoComplete="matAutocomplete" [displayWith]="userDisplayFn">
                            <mat-option *ngFor="let option of filteredUsers | async" [value]="option">
                            {{option.firstName + " " + option.lastName}}
                            </mat-option>
                    </mat-autocomplete>

                    <ng-template #disabledUserInput>
                            <input [attr.disabled]="true" 
                            type="text" 
                            id="user-input" 
                            [value] = "taskInfo.user.firstName + ' ' + taskInfo.user.lastName" 
                            class="form-control addTaskTextInput" 
                            formControlName="userName"
                            name="userName" />
                    </ng-template>
                <div *ngIf="!isEditView">
                    <div *ngIf="!(userName.valid || userName.pristine) || (formSubmitted && userName.invalid)"
                    class="alert alert-danger">
                      <div *ngIf="userName.errors.required">
                        User Name is required.
                      </div>
                    </div>
                </div>
        </div>
        <button type="submit" class="btn btn-secondary">{{AddTaskText}}</button>
        <button style="margin-left: 5%" type="button" class="btn btn-secondary" (click)="resetClicked($event)">{{CancelTaskText}}</button>

    </form>
   </div>